@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Grand+Hotel&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --slanttedText: 'Grand Hotel', cursive;

}

body{
    font-family: 'Catamaran', sans-serif;
}
h1{
    font-family: var(--slanttedText);
}